<key>NSAppTransportSecurity</key>
<dict>
  <key>NSAllowsArbitraryLoads</key>
  <false/>
  <key>NSAllowsArbitraryLoadsInWebContent</key>
  <true/>
  <key>NSExceptionDomains</key>
  <dict>
    <key>partner.obynexbroker.com</key>
    <dict>
      <key>NSIncludesSubdomains</key><true/>
      <key>NSExceptionRequiresForwardSecrecy</key><false/>
      <key>NSRequiresCertificateTransparency</key><false/>
    </dict>
  </dict>
</dict>
